<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Angular Exercise 2</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="container">
        <div class="collapse navbar-collapse" id="navbarColor03">
            
        <ul  class="navbar-nav me-auto mb-2 mb-lg-0">
          <li *ngFor="let data of navName; let i = index" class="nav-item" [ngClass]="{activated:activeLink ===i}"(click)="activeLink = i">
            <a class="btn btn-outline-primary" routerLink="{{data.navLink}}">{{data.navName}}</a>
          </li>
        </ul>
      </div>
      
      </div>
              
    </div>
  </nav>  