<h2>Book-item</h2>

<div class="container">
  <div class="row">
    <div class="col md-10">
      <table>
        <tr>
          <th width="5%">ID</th>
          <th width="35%">Name</th>
          <th width="15%">Author</th>
          <th width="15%">ISBN</th>
          <th width="12%">Action</th>
        </tr>
        <tr *ngFor="let book of books">
          <td>{{book.id}}</td>
          <td>{{book.name}}</td>
          <td>{{book.author}}</td>
          <td>{{book.isbn}}</td>
          <td>
              <button class="button button1"><i class="fa fa-pencil-square-o fa-2" aria-hidden="true"></i> Edit</button>
              <button class="danger button2"><i class="fa fa-trash-o fa-2" aria-hidden="true"></i> Delete</button>
          </td>
        </tr>
        
      </table>
    </div>
  </div>
</div>
