<h1>Edit book id : 1</h1>
<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

  <div class="row">
      
    <div class="col-md-4">
        <label for="name">Name</label>
      <input type="text" class="form-control" placeholder="Name" formControlName="bookName">
    </div>
    
    <div class="col-md-4">
        <label for="isbn"> International Standard Book Number (ISBN) </label>
      <input type="text" class="form-control" placeholder=" International Standard Book Number (ISBN)" formControlName="bookISBN">
    </div>
    
  </div>
  <br>

  <div class="row">
      <div class="col-md-4">
          <input type="submit" value="Submit" class="btn btn-outline-success ">
      </div>
  </div>

</form>