<div class="row">
    <div class="col-md-10">
        <h1>
            Blog Item
        </h1>
    </div>
    <div class="col-md-2">
        <app-blog></app-blog>
    </div>
</div>



    <div class="row">
        <div class="col md-10">
            <table>
            <tr>
                <th width="5px">ID</th>
                <th width="10px">title</th>
                <th width="15px">description</th>
                <th width="10px">author</th>
                <th width="5px">comments</th>
                <th width="10px">Action</th>
            </tr>
            <tr *ngFor="let data of blogs">
                <td>{{data.id}}</td>
                <td>{{data.title}}</td>
                <td>{{data.description}}</td>
                <td>{{data.author}}</td>
                <td>{{data.comments}}</td>
                <td>
                    <button  class="buttonCSS button1" routerLink="/blog/form/edit/1"><i class="fa fa-pencil-square-o fa-2" aria-hidden="true"></i> Edit</button>
                    <button  class="danger button2"><i class="fa fa-trash-o fa-2" aria-hidden="true"></i> Delete</button>
                </td>
            </tr>
        </table>
        </div>
    </div>
