
<div class="wrapper">
        
        <div class="text-center mt-4 name">
            Register
        </div>
        <form class="p-3 mt-3"[formGroup]="formGroup" (submit)="onSubmit()">
            <label>Email address</label>
            <div class="form-field d-flex align-items-center">
                <input formControlName="email" type="email" class="form-control" placeholder="name@example.com">
            </div>
            <label>Name</label>
            <div class="form-field d-flex align-items-center">
                <input formControlName="name" type="text" class="form-control" placeholder="name@example.com">
            </div>
            <label>Bio</label>
            <div class="form-field d-flex align-items-center">
                <input formControlName="bio" type="text" class="form-control" placeholder="name@example.com">
            </div>
             <label>Password</label>
            <div class="form-field d-flex align-items-center">
                 <input formControlName="password" type="password" class="form-control" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-success">Register</button>
        </form>
        
    </div>
