<h1>Profile</h1>
<div>
  <form action="/action_page.php">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" placeholder="Your email">

    <label for="lname">Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your name..">

    <label for="bio">Bio</label>
    <input type="text" id="bio" name="bio" placeholder="Your bio">
    
    <label for="country">Status</label>
    <select id="country" name="country">
      <option value="australia">Active</option>
      <option value="canada">Inactive</option>

    </select>
  
    <input type="submit" value="Submit">
  </form>
</div>